# dependencies
**/node_modules

# built files
**/esm
**/dist-storybook
packages/react-components/locales/dist

# misc
**/.DS_Store
**/*.notes.md

# dotenv environment variables file
/**/*.notes.*
**/.env
**/.env.**.*
**/.env.*

**/npm-debug.log*
**/lerna-debug.log

# editors
.vscode/
.idea/
*.log

