# dependencies
**/node_modules

# built files
**/esm
**/dist-storybook

# misc
**/.DS_Store
**/*.notes.md

# dotenv environment variables file
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.*.local
**/.env

**/npm-debug.log*
**/lerna-debug.log

# editors
.vscode/
.idea/
*.log
