# dependencies
**/node_modules
.history
# built files
**/esm
**/dist-storybook
packages/react-components/locales/dist

# misc
**/.DS_Store
**/*.notes.md
tmp/
**/vite.config.ts.timestamp-*

# dotenv environment variables file
/**/*.notes.*
**/.env
**/.env.**.*
**/.env.*

# temporary folders
**/mcp/venv
**/mcp/elasticsearch

**/npm-debug.log*
**/lerna-debug.log

# editors
.idea/
*.log
.history
gbif-web.iml


### VisualStudioCode ###
.vscode/* 
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode