@font-face {
  font-family: 'gbificons';
  src: url('/iconfont/gbificons.eot?v=1669624158');
  src: url('/iconfont/gbificons.eot?v=1669624158#iefix') format('embedded-opentype'),
    url('/iconfont/gbificons.ttf?v=1669624158') format('truetype'),
    url('/iconfont/gbificons.woff?v=1669624158') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='gb-icon-']:before,
[class*=' gb-icon-']:before,
.iconFont {
  font-family: 'gbificons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gb-icon-config:before {
  content: '\EA01';
}

.gb-icon-leaf:before {
  content: '\EA02';
}

.gb-icon-menu:before {
  content: '\EA03';
}

.gb-icon-search:before {
  content: '\EA04';
}

.gb-icon-user-female:before {
  content: '\EA05';
}

.gb-icon-cloud-upload:before {
  content: '\EA06';
}

.gb-icon-home:before {
  content: '\EA07';
}

.gb-icon-info:before {
  content: '\EA08';
}

.gb-icon-map:before {
  content: '\EA09';
}

.gb-icon-close:before {
  content: '\EA0A';
}

.gb-icon-close_L:before {
  content: '\EA0B';
}

.gb-icon-logo-L:before {
  content: '\EA0C';
}

.gb-icon-logo:before {
  content: '\EA0D';
}

.gb-icon-global:before {
  content: '\EA0E';
}

.gb-icon-left-arrow:before {
  content: '\EA0F';
}

.gb-icon-right-arrow:before {
  content: '\EA10';
}

.gb-icon-angle-left:before {
  content: '\EA11';
}

.gb-icon-filter:before {
  content: '\EA12';
}

.gb-icon-photo:before {
  content: '\EA13';
}

.gb-icon-animalia:before {
  content: '\EA14';
}

.gb-icon-archaea:before {
  content: '\EA15';
}

.gb-icon-bacteria:before {
  content: '\EA16';
}

.gb-icon-chromista:before {
  content: '\EA17';
}

.gb-icon-fungi:before {
  content: '\EA18';
}

.gb-icon-plantae:before {
  content: '\EA19';
}

.gb-icon-protozoa:before {
  content: '\EA1A';
}

.gb-icon-unknown:before {
  content: '\EA1B';
}

.gb-icon-viruses:before {
  content: '\EA1C';
}

.gb-icon-pen:before {
  content: '\EA1D';
}

.gb-icon-ccby:before {
  content: '\EA1E';
}

.gb-icon-share:before {
  content: '\EA1F';
}

.gb-icon-ccnc:before {
  content: '\EA20';
}

.gb-icon-ccsa:before {
  content: '\EA21';
}

.gb-icon-facebook:before {
  content: '\EA22';
}

.gb-icon-cclogo3:before {
  content: '\EA23';
}

.gb-icon-google:before {
  content: '\EA24';
}

.gb-icon-linkedin:before {
  content: '\EA25';
}

.gb-icon-twitter:before {
  content: '\EA26';
}

.gb-icon-mail:before {
  content: '\EA27';
}

.gb-icon-comment:before {
  content: '\EA28';
}

.gb-icon-more2:before {
  content: '\EA29';
}

.gb-icon-compare-fat:before {
  content: '\EA2A';
}

.gb-icon-compare-fat-reverse:before {
  content: '\EA2B';
}

.gb-icon-wood:before {
  content: '\EA2C';
}

.gb-icon-angle-down:before {
  content: '\EA2D';
}

.gb-icon-angle-right:before {
  content: '\EA2E';
}

.gb-icon-trash:before {
  content: '\EA2F';
}

.gb-icon-angle-up:before {
  content: '\EA30';
}

.gb-icon-map-marker:before {
  content: '\EA31';
}

.gb-icon-shuffle:before {
  content: '\EA32';
}

.gb-icon-table:before {
  content: '\EA33';
}

.gb-icon-institution:before {
  content: '\EA34';
}

.gb-icon-cloud-download:before {
  content: '\EA35';
}

.gb-icon-phone2:before {
  content: '\EA36';
}

.gb-icon-test:before {
  content: '\EA37';
}

.gb-icon-link:before {
  content: '\EA38';
}

.gb-icon-more-vertical:before {
  content: '\EA39';
}

.gb-icon-tools:before {
  content: '\EA3A';
}

.gb-icon-rss:before {
  content: '\EA3B';
}

.gb-icon-butterfly:before {
  content: '\EA3C';
}

.gb-icon-drop:before {
  content: '\EA3D';
}

.gb-icon-funnel:before {
  content: '\EA3E';
}

.gb-icon-file-download:before {
  content: '\EA3F';
}

.gb-icon-microscope:before {
  content: '\EA40';
}

.gb-icon-quote:before {
  content: '\EA41';
}

.gb-icon-bubble:before {
  content: '\EA42';
}

.gb-icon-search2:before {
  content: '\EA43';
}

.gb-icon-account:before {
  content: '\EA44';
}

.gb-icon-bug:before {
  content: '\EA45';
}

.gb-icon-idea:before {
  content: '\EA46';
}

.gb-icon-unicorn:before {
  content: '\EA47';
}

.gb-icon-user:before {
  content: '\EA48';
}

.gb-icon-notifications-none:before {
  content: '\EA49';
}

.gb-icon-notifications:before {
  content: '\EA4A';
}

.gb-icon-mistletoe:before {
  content: '\EA4B';
}

.gb-icon-marker:before {
  content: '\EA4D';
}

.gb-icon-calendar:before {
  content: '\EA4E';
}

.gb-icon-euro:before {
  content: '\EA4F';
}

.gb-icon-open_in_new:before {
  content: '\EA50';
}

.gb-icon-menu-down:before {
  content: '\EA51';
}

.gb-icon-menu-up:before {
  content: '\EA52';
}

.gb-icon-email:before {
  content: '\EA53';
}

.gb-icon-logout:before {
  content: '\EA54';
}

.gb-icon-fullscreen-exit:before {
  content: '\EA55';
}

.gb-icon-fullscreen:before {
  content: '\EA56';
}

.gb-icon-filters:before {
  content: '\EA57';
}

.gb-icon-arrow-left-bold-circle-outline:before {
  content: '\EA58';
}

.gb-icon-taxonomy:before {
  content: '\EA59';
}

.gb-icon-select:before {
  content: '\EA5A';
}

.gb-icon-format-paint:before {
  content: '\EA5B';
}

.gb-icon-antarctic:before {
  content: '\EA5C';
}

.gb-icon-arctic:before {
  content: '\EA5D';
}

.gb-icon-earth:before {
  content: '\EA5E';
}

.gb-icon-vimeo:before {
  content: '\EA5F';
}

.gb-icon-youtube:before {
  content: '\EA60';
}

.gb-icon-file:before {
  content: '\EA61';
}

.gb-icon-dataset:before {
  content: '\EA62';
}

.gb-icon-publisher:before {
  content: '\EA63';
}

.gb-icon-server:before {
  content: '\EA64';
}

.gb-icon-add:before {
  content: '\EA65';
}

.gb-icon-heartbeat:before {
  content: '\EA66';
}

.gb-icon-unfold-less-horizontal:before {
  content: '\EA67';
}

.gb-icon-unfold-more-horizontal:before {
  content: '\EA68';
}

.gb-icon-bar-chart:before {
  content: '\EA69';
}

.gb-icon-pie-chart:before {
  content: '\EA6A';
}

.gb-icon-sunburst:before {
  content: '\EA6B';
}

.gb-icon-taxonomy-tree:before {
  content: '\EA6C';
}

.gb-icon-donought-chart:before {
  content: '\EA6D';
}

.gb-icon-treemap:before {
  content: '\EA6E';
}

.gb-icon-col-chart:before {
  content: '\EA6F';
}

.gb-icon-view-list:before {
  content: '\EA70';
}

.gb-icon-rectangle:before {
  content: '\EA71';
}

.gb-icon-polygon:before {
  content: '\EA72';
}

.gb-icon-line-chart:before {
  content: '\EA73';
}

.gb-icon-translate:before {
  content: '\EA74';
}

.gb-icon-instagram:before {
  content: '\EA75';
}

.gb-icon-audio:before {
  content: '\EA76';
}

.gb-icon-camera:before {
  content: '\EA77';
}

.gb-icon-video:before {
  content: '\EA78';
}

.gb-icon-images:before {
  content: '\EA79';
}

.gb-icon-dna:before {
  content: '\EA7A';
}

.gb-icon-check:before {
  content: '\EA7B';
}

.gb-icon-clock:before {
  content: '\EA7C';
}

.gb-icon-solid-check:before {
  content: '\EA7E';
}

.gb-icon-mastodon:before {
  content: '\EA4C';
}
