@import 'ol/ol.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  svg {
    display: inline;
  }

  .classification {
    line-height: 1.2em;
    & > span:after {
      font-style: normal;
      content: ' â¯ ';
      font-size: 80%;
      color: #ccc;
      display: inline-block;
      padding: 0 3px;
    }
    & > span:last-of-type:after {
      display: none;
    }
    .classification-unknown {
      opacity: 0.5;
    }
  }
}

.underlineLinks a {
  @apply underline underline-offset-1;
}

.inlineBulletList {
  @apply inline;
}

.inlineBulletList li {
  @apply inline;
}

.inlineBulletList li:not(:last-child)::after {
  @apply content-['\25CF'] mx-1 text-sm;
}

.gb-button {
  @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50;
}

.gb-button-variant-default {
  @apply bg-primary text-primaryContrast shadow hover:bg-primary/90;
}

.gb-button-size-default {
  @apply h-9 px-4 py-2;
}

/* This class is used by some of the content comming from our CMS */
.gb-button--brand {
  @apply gb-button gb-button-size-default gb-button-variant-default;
}

.box-shadow-b {
  box-shadow: inset 0 -1px 0 var(--border);
}
