@import 'ol/ol.css';
@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-search-clear-icon::-webkit-search-cancel-button {
  appearance: none;
}

.underlineLinks a {
  @apply g-underline g-underline-offset-1;
}

.gb-button {
  @apply g-inline-flex g-items-center g-justify-center g-rounded-md g-text-sm g-font-medium g-transition-colors focus-visible:g-outline-none focus-visible:g-ring-1 focus-visible:g-ring-ring disabled:g-pointer-events-none disabled:g-opacity-50;
}

.gb-button-variant-default {
  @apply g-bg-primary !g-text-primaryContrast g-shadow hover:g-bg-primary/90;
}

.gb-button-size-default {
  @apply g-h-9 g-px-4 g-py-2;
}

.gb-button--brand {
  @apply gb-button gb-button-size-default gb-button-variant-default;
}

.g-box-shadow-b {
  box-shadow: inset 0 -1px 0 var(--border);
}

.g-box-shadow-r {
  box-shadow: inset -1px 0 0 var(--border);
}

.g-box-shadow-br {
  box-shadow: inset 0 -1px 0 var(--border), inset -1px 0 0 var(--border);
}

.gbif .dataProse {
  div > p:first-of-type {
    margin-top: 0;
  }
  ol {
    counter-reset: listitem;
    list-style: none;
  }
  ol > li {
    position: relative;
    margin: 4px 0;
    padding-left: 32px;
  }
  ol > li:before {
    counter-increment: listitem;
    content: counter(listitem);
    background: #e3e8ee;
    color: #697386;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    padding: 5px 0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    left: 0;
  }
}

/* .gbif {
  :where(a) {
    color: inherit;
  }
} */

/* We do not want the preflight reset to apply to all sites where these componetns are used. So we disable preflight in tailwind config and add this instead. Solution copied from https://dev.to/ajscommunications/scoping-normalized-preflight-css-c29 */
:where(.gbif) {
  /*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family: var(--fontFamily); /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */

  /*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
  margin: 0; /* 1 */
  /*line-height: inherit;*/ /* 2 */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
  }

  ::before,
  ::after {
    --tw-content: '';
  }

  /*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  /*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  /*
Remove the default font size and weight for headings.
*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  /*
Reset links to optimize for opt-in styling instead of opt-out.
*/

  a {
    color: inherit;
    text-decoration: inherit;
  }

  /*
Add the correct font weight in Edge and Safari.
*/

  b,
  strong {
    font-weight: bolder;
  }

  /*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace; /* 1 */
    font-feature-settings: normal; /* 2 */
    font-variation-settings: normal; /* 3 */
    font-size: 1em; /* 4 */
  }

  /*
Add the correct font size in all browsers.
*/

  small {
    font-size: 80%;
  }

  /*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }

  /*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }

  /*
Remove the inheritance of text transform in Edge and Firefox.
*/

  button,
  select {
    text-transform: none;
  }

  /*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

  button
  /* [type='button'], */ /* removed as it has to ohigh specificity and will overwrite tailwind classes*/
  /* [type='reset'],
  [type='submit'] */ {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }

  /*
Use the modern Firefox focus style for all focusable elements.
*/

  :-moz-focusring {
    outline: auto;
  }

  /*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

  :-moz-ui-invalid {
    box-shadow: none;
  }

  /*
Add the correct vertical alignment in Chrome and Firefox.
*/

  progress {
    vertical-align: baseline;
  }

  /*
Correct the cursor style of increment and decrement buttons in Safari.
*/

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  /*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

  [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  /*
Remove the inner padding in Chrome and Safari on macOS.
*/

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  /*
Add the correct display in Chrome and Safari.
*/

  summary {
    display: list-item;
  }

  /*
Removes the default spacing and border for appropriate elements.
*/

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  legend {
    padding: 0;
  }

  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /*
Reset default styling for dialogs.
*/
  dialog {
    padding: 0;
  }

  /*
Prevent resizing textareas horizontally by default.
*/

  textarea {
    resize: vertical;
  }

  /*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }

  /*
Set the default cursor for buttons.
*/

  button,
  [role='button'] {
    cursor: pointer;
  }

  /*
Make sure disabled buttons don't get the pointer cursor.
*/
  :disabled {
    cursor: default;
  }

  /*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

  img,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }

  svg {
    display: inline;
    vertical-align: middle; /* 2 */
  }

  /*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  /* Make elements with the HTML hidden attribute stay hidden by default */
  [hidden] {
    display: none;
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(7, 64%, 61%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
  }
}

@layer base {
  .classification {
    line-height: 1.2em;
    & > span:after {
      font-style: normal;
      content: ' ❯ ';
      font-size: 80%;
      color: #ccc;
      display: inline-block;
      padding: 0 3px;
    }
    & > span:last-of-type:after {
      display: none;
    }
    .classification-unknown {
      opacity: 0.5;
    }
  }
}

.inlineBulletList {
  @apply g-inline;
}

.inlineBulletList li {
  @apply g-inline;
}

.inlineBulletList li:not(:last-child)::after {
  @apply g-content-['\25CF'] g-mx-1 g-text-sm;
}

.gbif-bulletList {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    display: inline-block;
    &:after {
      font-style: normal;
      content: '●';
      font-size: 80%;
      padding: 0 3px;
    }
    &:last-of-type:after {
      display: none;
    }
  }
}

.g-box-shadow-b {
  box-shadow: inset 0 -1px 0 var(--border);
}

.dataProse {
  div > p:first-of-type {
    margin-top: 0;
  }
  ol {
    counter-reset: listitem;
    list-style: none;
  }
  ol > li {
    position: relative;
    margin: 4px 0;
    padding-left: 32px;
  }
  ol > li:before {
    counter-increment: listitem;
    content: counter(listitem);
    background: #e3e8ee;
    color: #697386;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    padding: 5px 0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    left: 0;
  }
}

.gbif-table-wrapper td img {
  margin-top: 0;
  margin-bottom: 0;
}

.gbif-table-wrapper td {
  vertical-align: top;
}

.g-fill-evenodd {
  fill-rule: evenodd;
}
.g-clip-evenodd {
  clip-rule: evenodd;
}
.g-evenodd {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.g-linecap-round {
  stroke-linecap: round;
}
.g-linejoin-round {
  stroke-linejoin: round;
}

.gbif-small-scrollbar {
  @apply [&::-webkit-scrollbar]:g-w-1 [&::-webkit-scrollbar-track]:g-bg-gray-100 [&::-webkit-scrollbar-thumb]:g-bg-gray-300;
}

.gbif-table-style {
  @apply g-w-full g-text-sm g-text-left rtl:g-text-right g-text-gray-500 dark:g-text-gray-400;
  thead {
    @apply g-text-slate-500 g-font-light g-bg-gray-200/10 dark:g-bg-gray-700/10 dark:g-text-gray-400 g-border-b;
  }
  th {
    @apply g-px-3 g-py-3 g-font-normal;
  }
  tbody tr {
    @apply g-border-b last:g-border-0 dark:g-border-gray-700 g-text-slate-900;
    td {
      @apply g-px-3 g-py-3 dark:g-text-white;
    }
  }
}

.gbif-word-break {
  overflow-wrap: anywhere;
  word-break: break-word;
}

.gbif-predicates {
  &.isSimplePredicate {
    .leaf {
      .node {
        min-width: 170px;
      }
    }
  }
  font-size: 14px;
  ul {
    padding: 5px;
    ul {
      transition: background-color 300ms ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
    }
  }
  ul.not {
    padding: 0;
  }
  ul ul .join,
  ul .leaf {
    &:after {
      content: '';
      display: block;
      height: 2px;
      background: #aaa;
      width: 35px;
      position: absolute;
      top: 15px;
      left: 0px;
      z-index: 1;
    }
  }
  ul ul.not .join,
  ul .leaf {
    &:after {
      top: 9px;
    }
  }
  ul.not > li > ul {
    padding-top: 0;
  }

  ul {
    > .join {
      > .discreet {
        opacity: 0;
        transition: opacity 300ms ease;
      }
    }
    &:hover {
      > .join {
        > .discreet {
          opacity: 1;
        }
      }
    }
  }
  .node {
    display: inline-block;
    background: #666;
    color: white;
    padding: 0px 10px;
    margin-right: 10px;
    z-index: 2;
    position: relative;
  }
  .node-value {
    span {
      padding: 0 3px;
    }
  }
  .not .leaf .node {
    background: tomato;
  }
  .leaf {
    .node {
      background: rgb(var(--primary500) / var(--tw-bg-opacity));
    }
  }
  ul > li {
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
    margin-top: 10px;
    &:before {
      content: '';
      display: block;
      border-radius: 50%;
      height: 10px;
      width: 10px;
      border: 2px solid #aaa;
      background: #fff;
      position: absolute;
      left: -4px;
      top: 5px;
      z-index: 2;
    }
    &.hasChildren {
      &:before {
        top: 11px;
      }
    }
    .pipe {
      width: 2px;
      background: #aaa;
      position: absolute;
      left: 0;
      top: 15px;
      bottom: -22px;
    }
    &:first-of-type {
      > .pipe {
        top: -10px;
      }
    }
    &:last-of-type {
      > .pipe {
        display: none;
      }
    }
    &:only-of-type > .pipe {
      display: block;
      bottom: initial;
      height: 20px;
    }
  }
}

.rtl {
  .gbif-predicates {
    ul ul .join,
    ul .leaf {
      &:after {
        right: 0px;
        left: auto;
      }
    }
    .node {
      margin-right: 0;
      margin-left: 10px;
    }
    ul > li {
      padding-left: 0;
      padding-right: 30px;
      margin-right: 10px;
      margin-left: 0;
      &:before {
        right: -4px;
        left: auto;
      }
      .pipe {
        left: auto;
        right: 0;
      }
    }
  }
}

.gbif-sqlInput {
  white-space: pre-wrap;
  font-family: monospace;

  .sql-hl-keyword {
    color: tomato;
  }
  .sql-hl-function {
    color: blue;
  }
  .sql-hl-number {
    color: green;
  }
  .sql-hl-identifier {
    color: blue;
  }
  .sql-hl-string {
    color: black;
  }
  .sql-hl-special {
    color: #ab5656;
  }
  .sql-hl-bracket {
    color: blue;
  }
  .sql-hl-comment {
    color: rgb(113, 113, 113);
  }
  .sql-hl-clear {
    color: rgb(108, 108, 108);
  }
}

.gbif-tooltip {
  &:hover {
    position: relative;
    &[tip]:before {
      border-radius: 2px;
      background-color: #333;
      color: #fff;
      content: attr(tip);
      font-size: 12px;
      padding: 5px 7px;
      position: absolute;
      /* white-space: nowrap; */
      z-index: 10000;
      line-height: 1.2em;
      pointer-events: none;
    }
    &[direction='right']:before {
      top: 50%;
      left: 120%;
      transform: translateY(-50%);
    }
    &[direction='left']:before {
      top: 50%;
      right: 120%;
      transform: translateY(-50%);
    }
    &[direction='top']:before {
      right: 50%;
      bottom: 120%;
      transform: translateX(50%);
    }
    &[direction='bottom']:before {
      right: 50%;
      top: 120%;
      transform: translateX(50%);
    }
  }
}
