@import 'drawer';

//variables
$color: #3c4257;
$header-color: #1f1a47;
$mobile: 1000;
$laptop: 1100;
$desktop: 1200;

.current {
  color: green;
}

//reset
blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

// fonts
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color;
  box-sizing: border-box;
}

main {
  line-height: 26px;

  h1,
  h2 {
    color: $header-color;
  }
  h1 {
    font-size: 32px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding-top: 20px;
  }

  .subtitle {
    padding-top: 12px;
    font-size: 20px;
    color: #3c4257;
    line-height: 28px;
  }
  p {
    padding-top: 12px;
    font-size: 16px;
    color: #3c4257;
    line-height: 26px;
  }

  ul, ol {
    counter-reset: listitem;
    list-style: none;
  }
  ul:not(:first-child), ol:not(:first-child) {
    margin-top: 8px;
  }

  ul > li {
    position: relative;
    margin: 4px 0;
    margin-top: 4px;
    margin-right: 0px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 32px;
  }
  ul > li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    left: 8px;
    top: 10px;
    border-radius: 50%;
    background: #c1c9d2;
  }

  img {
    margin: 20px 0;
    max-width: 100%;
  }
}

//layout
.siteHeader {
  z-index: 300;
  overflow: hidden;
  background: #077cbc;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.24);
  height: 55px;
  top: 0;
  right: 0;
  left: 0;
  nav {
    margin: 0 20px;
  }
}

.mainNav_brand {
  float: left;
  margin-top: 13px;
  margin-right: 32px;
  img {
    height: 28px;
  }
}
.mainNav_section {
  float: left;
  font-weight: 500;
}

.siteContent_toc, .siteContent_drawer {
  display: none;
}

.siteContent {
  z-index: 100;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 55px auto;
  max-width: 1400px;
}
.siteContent_main {
  flex: 0 1 800px;
  margin: 50px auto;
  padding: 0 20px;
}

.siteContent-aside {
  z-index: 100;
  position: relative;
  overflow: auto;
}
.siteContent_aside_content {
  overflow: auto;
  top: 55px;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.siteContent_drawer {
  top: 55px;
  bottom: 0;
  z-index: 200;
  left: 0;
  right: 0;
}

.siteHeader {
  overflow: hidden;
  position: fixed;
}

.mainNav-toggle {
  float: right;
  margin-top: 3px;
  button {
    background: none;
    padding: 18px 0;
  }
}
.menuBar {
  background: white;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.menuBar + .menuBar {
  margin-top: 4px;
}

@media only screen and (max-width: $mobile + px) {
  .hide-sm {
    display: none !important;
  }

  .siteContent {
    display: block;
  }
  .mainNav_section {
    display: none;
  }
  .siteContent_drawer {
    right: 0;
    display: block;
  }
  .drawerNav {
    position: static;
  }
}

@media only screen and (min-width: ($mobile + 1) + px) {
  .siteContent_aside_content {
    position: fixed;
    max-height: calc(100vh - 55px);
  }
  .mainNav-toggle {
    display: none;
  }
  .drawerNav_section > ul > li.inActive {
    display: none;
  }
  .mainNav_tabs > li {
    float: left;
    list-style: none;
    a {
      margin-top: 4px;
      display: inline-block;
      line-height: 47px;
      padding: 0 20px;
      color: white;
      text-decoration: none;
      border: 0 solid #077cbc;
      border-width: 0 0 4px 0;
      font-size: 15px;
    }
    &.active a {
      border-color: white;
    }
  }
}
@media only screen and (min-width: $mobile + px) {
  .siteContent_drawer {
    flex: 1 1 250px;
    display: block;
  }
  .siteContent {
    padding: 0 30px;
  }
}
@media only screen and (min-width: $laptop + px) {
  .siteContent_toc {
    flex: 1 1 250px;
    display: block;
  }
}



//util
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.mouseUser {
  :focus, :active {
    outline: none // We will only show outlines if it is a keyboard user. Else all those blue outlines is a bit much.
  }
}





.siteContent_main ol>li:before {
  counter-increment: listitem;
  content: counter(listitem);
  background: #e3e8ee;
  color: #697386;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  padding: 5px 0;
  height: 10px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 3px;
}

.siteContent_main ol>li, article ul>li {
  position: relative;
  margin: 4px 0;
  padding-left: 32px;
}