.bulletList {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    display: inline-block;
    &:after {
      font-style: normal;
      content: 'â—';
      font-size: 80%;
      padding: 0 3px;
    }
    &:last-of-type:after {
      display: none;
    }
  }
}
